.button {
  border-radius: 3px;

  &.primary {
    border: 1px solid rgba($primary, 0.3);
    background: rgba($primary, 0.1);
    color: $white;
    padding: 10px 30px;
    font-size: 19px;
    letter-spacing: 2px;
    transition: all 0.3s;

    &:hover {
      background: $primary;
      color: $black;
    }
  }

  &.loading {
    pointer-events: none;
    cursor: wait;
    border: 1px solid rgba($secondary, 0.3);
    animation: splash infinite 2s;
  }
}

@keyframes splash {
  0% {
    background-color: rgba($secondary, 0.3);
  }
  50% {
    background-color: rgba($primary, 0.3);
  }
  100% {
    background-color: rgba($secondary, 0.3);
  }
}
